---
import HorizontalLine from "./HorizontalLine.astro";
const today = new Date();
import { Icon } from "astro-icon/components";

const iconSize = 24;
---

<footer class="flex flex-col items-center mt-16 mb-16">
  <HorizontalLine class="mb-8" />
  <div class="flex flex-col items-center space-y-3">
    <p class="text-xs text-gray-700 dark:text-gray-500">
      &copy; {today.getFullYear()} Cory Boyd. All rights reserved.
    </p>
    <div class="flex flex-row space-x-2">
      <a
        href="https://bsky.app/profile/corytheboyd.bsky.social"
        target="_blank"
      >
        <span class="sr-only">Follow Cory on Bluesky</span>
        <Icon
          size={iconSize}
          name="simple-icons:bluesky"
          class="text-gray-500 hover:text-gray-700 hover:dark:text-gray-400"
        />
      </a>
      <a href="https://www.linkedin.com/in/corytheboyd" target="_blank">
        <span class="sr-only">Go to Cory's GitHub repo</span>
        <Icon
          size={iconSize}
          name="simple-icons:linkedin"
          class="text-gray-500 hover:text-gray-700 hover:dark:text-gray-400"
        />
      </a>
      <a href="https://github.com/corytheboyd" target="_blank">
        <span class="sr-only">Go to Cory's GitHub repo</span>
        <Icon
          size={iconSize}
          name="simple-icons:github"
          class="text-gray-500 hover:text-gray-700 hover:dark:text-gray-400"
        />
      </a>
    </div>
  </div>
</footer>
