---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header>
  <div class="border-b border-gray-200">
    <nav class="-mb-px flex space-x-8" aria-label="Tabs">
      <div class="flex flex-row items-center justify-center space-x-2">
        <img src="/win98icon/write_yellow-1.png" class="w-8 h-8" />
        <a href="/" class="flex items-center justify-center"
          ><h2>{SITE_TITLE}</h2></a
        >
      </div>

      <HeaderLink href="/">Blog</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
    </nav>
  </div>
</header>
